{% extends "base.html" %}

{% block body %}
<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="{%url 'inicio'%}">Inicio</a></li>
    <li role="presentation"><a href="{%url 'lista'%}">Objetos</a></li>
    <li role="presentation"><a href="{%url 'form'%}">Personajes</a></li>
    <li role="presentation"><a href="{%url 'formM'%}">Mascotas</a></li>
    <li role="presentation"><a href="{%url 'formA'%}">Autos</a></li>
  </ul>

    <h1 style="text-align: center;"> Bienvenido</h1>
    <br>
    <p>En esta mvt podra crear personajes,mascotas y autos</p>

{% endblock %}