{% extends "base.html" %}
{%block body%}
<ul class="nav nav-pills">
    <li role="presentation"><a href="{%url 'inicio'%}">Inicio</a></li>
    <li role="presentation"  class="active"><a href="{%url 'lista'%}">Objetos</a></li>
    <li role="presentation"><a href="{%url 'form'%}">Personajes</a></li>
    <li role="presentation"><a href="{%url 'formM'%}">Mascotas</a></li>
    <li role="presentation"><a href="{%url 'formA'%}">Autos</a></li>
  </ul>
  <h1>Buscar:</h1>
    
  <form action="" method="get">
    
    <label for="">Ingrese el nombre del objeto:</label>
    <input type="text" name="buscador">
    <button type="submit"> sumbit</button>
  </form>
  <br>
  {%if personajes%}
  <table border="2" align="left" style="margin-left:1cm;">                     
    <tr>   
        <th> ID </th>                                                                      
        <th>  NOMBRE  </th>  
        <th>  EDAD  </th>   
    </tr>
    {%for i in personajes%}
        <tr>                                              
            <td> {{  i.id }} </td>                       
            <td> {{ i.nombre }} </td>
            <td> {{ i.edad }} </td>
        </tr>
    {%endfor%}
    </table>
    {%endif%}
    {%if mascotas%}
      <table border="2" align="left" style="margin-left:1cm;">                     
    <tr>   
        <th> ID </th>                                                                      
        <th>  NOMBRE  </th>  
        <th>  EDAD  </th>   
    </tr>
    {%for i in mascotas%}
        <tr>                                              
            <td> {{  i.id }} </td>                       
            <td> {{ i.nombreM }} </td>
            <td> {{ i.edadM }} </td>
        </tr>
    {%endfor%}
    </table>
    {%endif%}
    {%if autos%}
    <table border="2" align="left" style="margin-left:1cm;">                     
    <tr>   
        <th> ID </th>                                                                      
        <th>  MARCA  </th>  
        <th>  AÑO  </th>   
    </tr>
    {%for i in autos%}
        <tr>                                              
            <td> {{  i.id }} </td>                       
            <td> {{ i.marca }} </td>
            <td> {{ i.año }} </td>
        </tr>
    {%endfor%}
    </table>
    {%endif%}
  <br>
  <br>
  
  <h1>Tus creaciones:</h1>
  <br>
  <br>
  
  <table border="7" align="right" style="width: 7cm; margin-right:1cm;">                     
    <tr>   
        <th> ID </th>                                                                      
        <th>  NOMBRE  </th>  
        <th>  EDAD  </th>   
    </tr>
    {%for i in personaje%}
        <tr>                                              
            <td> {{  i.id }} </td>                       
            <td> {{ i.nombre }} </td>
            <td> {{ i.edad }} </td>
        </tr>
    {%endfor%}
    </table>
  <table border="7" align="left" style="width: 7cm;margin-left:1cm;">                     
    <tr>    
        <th> ID </th>                                                                     
        <th>  NOMBRE  </th>  
        <th>  EDAD  </th>   
    </tr>
    {%for i in mascota%}
        <tr>                                              
            <td> {{  i.id }} </td>                       
            <td> {{ i.nombreM }} </td>
            <td> {{ i.edadM }} </td>
        </tr>
    {%endfor%}
</table>
  <table border="7" align="center" style="width: 7cm;">                     
    <tr>           
        <th> ID </th>                                                              
        <th>  MARCA  </th>  
        <th>  AÑO  </th>   
    </tr>
    {%for i in auto%}
        <tr>                                              
            <td> {{  i.id }} </td>                       
            <td> {{ i.marca }} </td>
            <td> {{ i.año }} </td>
        </tr>
    {%endfor%}
</table>

{% endblock %}