<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {%csrf_token%}
        <h2>Ingrese los datos de su Pizza:</h2>
        Nombre del plato: {{form.nombre}}
        <br>
        <br>
        Creador: {{form.creador}}
        <br>
        <br>
        Ingredientes: {{form.ingredientes}}
        <br>
        <br>
        <button type="submit">sumbit</button>   
    </form>
    <p><a href="{%url 'Pizzas'%}">Ver Pizzas</a></p>
</body>
</html>